.titulo {
  text-align: center;
  font-size: 26px;
  color: #8b1e54;
  margin-bottom: 25px;
}

/* GRID */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  padding: 10px;
}

/* CARD */
.service-card {
  background: #fff6fb;
  padding: 18px;
  border-radius: 14px;
  border: 2px solid #ffcee5;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

/* IMG */
.service-card img {
  width: 100%;
  height: 640px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

/* TEXT */
.service-title {
  font-size: 18px;
  font-weight: bold;
  color: #8b1e54;
  margin-bottom: 6px;
}

.service-desc {
  font-size: 15px;
  color: #5a3a46;
}
